<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= hero.age %>
  </p>

  <p>
    <strong>Planeta:</strong>
    <%= hero.planet.name %>
  </p>

</div>
